/* Set default font and background color for the entire page */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f5f5f5;
  }
  
  /* Set styles for the table container */
  .container {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    max-width: 500px;
    background-color: #fff;
    border: 1px solid #000000;
  }
  
  /* Set styles for the table heading */
  .heading {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    background-color: #000000;
    color: #fff;
  }
  
  /* Set styles for the table header cells */
  th {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 2px solid #000000;
  }
  
  /* Set styles for the table header cells that have no content */
  .empty {
    background-color: #000000;
    padding: 0px;
  }
  
  /* Set styles for the table cells */
  td {
    text-align: center;
    padding: 10px;
    border: 2px solid #000000;
  }
  
  /* Set styles for the even rows */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
 