body {
   margin: 0 auto;
    text-align: center;
}

picture {
   display: block;
   padding-top: 20px;
}


h1 {display: block;
    font-size: 2em;
    text-decoration: underline;
}
 img {
    filter: blur(0em);
    transition: filter 0.5s;
    transform: rotate(10deg);
  }
  img[data-src] {
    filter: blur(0.2em);
  }