* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
    background-color: black;
}

header,
footer { display: flex;
	background-color: #000000;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
    margin: 0 120px 0 120px;
    max-width: 1200px;width: 1200px;
    color: #eee;
}
header,
nav,
main,
footer {
	max-width: 960px;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
    
}
h2 {
	padding: .5rem;
	color: #536878;
}

p {
	padding: .5rem;
}

nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 0 30px #333;
}

nav {
	display: flex;
	flex-direction: column;
}

nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	background-color: #708080;
	color: yellow;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: space-around;
	justify-content: center;
	font-size: 0.85rem;
margin-left: -25px;
}

main .submenu {
	margin: 1rem;
	border: 1px solid #bbb;
	padding: 1rem;
	background-color: #eee;
}

.submenu ul {
	margin-left: 2rem;
}

main picture {
	display: none;
	margin: 1rem;
}

main article {
	margin: 1rem;
}

footer {
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	font-weight: 700;
}
#logo {
    display: block;
    margin-right: auto;
    width: 20%;
    border-radius: 50%;
    float: inline-end;
}
.dowm{
	font-size: 23px;
	color: rgba(214, 199, 199, 0.817);
}

.up{
	font-size: 23px;color: rgba(214, 199, 199, 0.817);
}
/***********************************************/
/** Media Queries for larger views *************/
/***********************************************/

@media (min-width: 37.5em) {
	nav {
		flex-direction: row;
	}
	
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	main picture {
		display: block;
	}
}

@media (min-width: 48em) {
	nav a {
		font-size: 1.3rem;
	}
}
